* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --fc-nav: #c4c4cc;
  --fc-primary: #e1e1e6;
  --fc-secondary: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;

  background-image: url(./assets/home.png);
  background-size: cover;
  transition: background-image .4s ease;
  min-height: 100vh;
}

.content p {
  font-size: 1.8rem;
  line-height: 160%;
  color: var(--fc-primary)
}

nav {
  padding: 5rem 7.5rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.button:hover {
  transform: scale(1.1);
  background-color: var(--fc-secondary);
  color: #02799D;
  transition: all .5s ease;
}

nav a {
  font-size: 2.10rem;
  line-height: 2rem;
  color: var(--fc-nav);
  padding-bottom: 1.2rem;
  transition: all .3s ease;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 64.8rem;
 animation: topdown 700ms 350ms backwards;
}

.content h1 {
  font-size: 4.8rem;
  line-height: 125%;

  color: var(--fc-primary);
}

.button {
  padding: 1.2rem 3.2rem;
  border: 2px solid var(--fc-secondary);
  font-weight: 700;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease; 
  color: var(--fc-secondary);
}

a {
    text-decoration: none;
  } 